*, *:before, *:after {
  box-sizing: border-box;
}


body{
  background-color: #dadada;
  padding-left: 4%;
  margin-top: 3%;

}

.emphasis {
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-left: 40% ;
  text-align: center;
}


div {
  font-family: serif;
  font-size: 2em;
  padding-left: 40px;
  padding-top: 40px;
}


/* images below */
.baku {
  background-image: url(../images/baku.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.london {
  background-image: url(../images/london.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.baku, .london, .madrid, .rome {
  margin-top: 45px;
}


/* two-column design for tablet */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 350px;
    height: 250px;
    float: left;

  }
}

/* four-column design for laptop screens */
@media screen and (min-width: 991px){
      div {
        margin: 1%;
        width: 300px;
        height: 300px;
        float: left;

     }
   }
